/**
 * @Author: Ali
 * @Date:   2019-11-21T14:45:58+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-11-24T05:33:52+01:00
 */

.App {
  text-align: center;
}
 button {
   color :white;
   background-color: black;
   border-radius: 18px;
   margin: 20px;
   padding:15px ;
   font-size: 2em;
   box-shadow: 5px 5px 5px 1px red;
   border: none;
   outline:none;
 }
button:hover{
  box-shadow: 5px 5px 5px 1px yellow;
  cursor: pointer;
  border: none;
}
.calc {
  height:100px;

  text-align: center;
  background-color: black;
  color: red;
  font-size: 2em;
  margin: 15px auto;
  padding:50px;
  padding-bottom: 10px;
  border-radius: 18px;
}
.start {
  background-color: red;
  color:black;
  font-size: 2em;
}
.names {
  font-size: 2em;

}
